In [1]:
a = ("jk",5,6,8)

In [2]:
type(a)

tuple

In [3]:
a[0]

'jk'

In [5]:
a[1:-1]

(5, 6)

In [8]:
a = 5
if a>3:
    print("sai")
else:
    print("kohli")

sai

In [21]:
a = 10
if a<20:
    print("sai")
if a==30:
    print("kohli")
elif a<20:
    print("das")
elif a<50:
    print("hen")
else:
    print("sad")

sai
das

In [12]:
a<20

False

In [13]:
if a> 56:
    False

In [23]:
type(a)==int

True

In [28]:
discount = int(input())
if discount == 56:
    print("sai")
elif discount == 25:
    print("kohli")
else :
    print("ytahg")

25
kohli

In [1]:
income = int(input())
if income > 1000:
    print("you can sai")
else:
    print("hgm")

56
hgm

In [4]:
5+8

13

In [5]:
s  = "vhj"

In [6]:
for i in s:
    print(i)

v
h
j

In [7]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
n = int(input())
for i in range(0,n):
    for t in range(i+1):
        print("!",end =" ")
    print(" ")
for t in range(i-1):
    print("!", end = " ")
    print(" ")

6
!
! !
! ! !
! ! ! !
! ! ! ! !
! ! ! ! ! !
!
!
!
!